@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000025;
$secondary: #17002f;
$hover: #ff0059;
$success: #00d7fb;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

* {
    font-family: "Galano Grotesque";
    margin: 0;
    padding: 0;
}

body {
    background-color: $body-bg;
}

.background-image {
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/bg-img1.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 5px 1px $white;
    position: relative;

    padding: 10vh 0 10vh 0;

    & button.btn {
        margin-top: 2rem;
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        transition-duration: 0.15s;
        box-shadow: 0 0 10px 2px grey;
    }

    & button.btn:hover,
    & button.btn:active {
        color: white;
    }
}

.background-image.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image img {
    margin: 0 0 0 5px;
    width: 30px;
    height: 30px;
}

.background-image h1 {
    text-shadow: 0 0 10px black;
    font-family: "Grand Slang";
    font-size: 3.5rem;
}

.background-image h2 {
    margin-top: 2rem;
    text-shadow: 0 0 3px black;
}

.background-image span{
    display: inline-block;
    vertical-align: middle;
    font-family: "Grand Slang";
    text-align: left !important;
}

.background-image button {
    width: fit-content;
    margin: auto;
}

header {
    position: sticky;
    outline: 2px solid #fff;
    background: $secondary;
    width: 100%;
    z-index: 2;
    top: 0;
}

@font-face {
    font-family: "Grand Slang";
    src: url("/assets/fonts/grandslang-roman.otf") format("opentype");
}

.dropdown-divider {
    background-color: $white;
    width: 100%;
}

.collasible-nav-dropdown > * {
    background-color: $secondary;
}

.dropdown-menu {
    outline: 2px solid white;
    left: auto;
    right: 0;
}

.dropdown-menu.show {
    margin-bottom: 0.5rem;
}

.dropdown-item:active,
.dropdown-item:focus {
    background: $white;
    color: $secondary;
}

.navbar {
    background-color: $secondary;
    color: white;

    & .nav-link,
    & .dropdown-item,
    & button {
        color: white;
        font-family: 'Galano Grotesque Alt', sans-serif;
        font-family: 'Galano Grotesque', sans-serif;
        font-size: 1rem;    
        font-weight: bold;
        text-align: center;
    }
    button {
        border-width: 2px;
    }
    input:focus {
        border-color: initial;
        outline: initial;
        box-shadow: initial;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-family: "Grand Slang";
    font-weight: bold;
    color: white;
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
    color: $hover;
}

.next-events-banner {
    background: $body-bg;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-events-banner > .row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.next-events-banner > .row > * {
    font-size: 3rem;
    color: $hover;
    font-family: "Grand Slang";
    margin-top: 2rem;
}

.next-events-banner > .row > hr {
    border: 1px solid white;
    width: 100%;
}

.why-anticipadapp {
    color: white;
}

.why-anticipadapp .why-anticipadapp-question {
    font-size: 2rem;
    display: block;
}

.why-anticipadapp .why-anticipadapp-response {
    display: block;
    margin-top: 1rem;
}

.next-events-text span {
    font-family: "Grand Slang";
    display: block;
    //text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
}

.location-text {
    color: white;
    text-shadow: 0 0 2.8px white;
}

.app-benefits-item {
    outline: 1px dashed black;
    background: $hover;
    margin-top: 10px;
    border-radius: 15px;
}

.benefit-icon {
    width: 3.5rem;
    height: 3.5rem;
    background-size: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.app-benefits-item-title {
    font-size: 1.5rem;
    text-decoration: underline;
}

.app-benefits-item-text {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}