@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000025;
$secondary: #17002f;
$hover: #ff0059;
$success: #00d7fb;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

* {
    font-family: "Galano Grotesque";
}

body {
    background-color: $body-bg;
}

.background-image h1 {
    text-shadow: 0 0 10px black;
    font-family: "Grand Slang";
    font-size: 10vh;
}

.background-image h2 {
    font-size: 2rem;
    text-shadow: 0 0 3px black;
}

header {
    position: fixed;
    outline: 2px solid $white;
    background: $secondary;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 2;
}

@font-face {
    font-family: "Grand Slang";
    src: url("../../assets/fonts/grandslang-roman.otf") format("opentype");
}

.dropdown-divider {
    background-color: $white;
}

.collasible-nav-dropdown > * {
    background-color: $secondary;
}

.dropdown-menu {
    outline: 2px solid white;
    left: auto;
    right: 0;
}

.navbar {
    background-color: $secondary;
    color: white;
    & .nav-link,
    & .dropdown-item,
    & button {
        color: white;
        font-family: 'Galano Grotesque Alt', sans-serif;
        font-family: 'Galano Grotesque', sans-serif;
        font-size: 1rem;    
        font-weight: bold;
        text-align: center;
    }
    button {
        border-width: 2px;
    }
    input:focus {
        border-color: initial;
        outline: initial;
        box-shadow: initial;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-family: "Grand Slang";
    font-weight: bold;
    color: white;
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
    color: $hover;
}

.background-image {
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/images/background.jpg");
    background-attachment: fixed;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 5px 1px $white;
    position: relative;

    & button.btn {
        margin-top: 2rem;
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        transition-duration: 0.15s;
        box-shadow: 0 0 10px 2px grey;
    }

    & button.btn:hover,
    & button.btn:active,
    & button.btn:active {
        color: white;
    }
}

.next-events-banner {
    height: 250px;
    background: $body-bg;
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-events-banner > * {
    font-size: 3rem;
    color: $hover;
    font-family: "Grand Slang"; 
}