@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/bootstrap";

$body-bg: #000025;
$secondary: #17002f;
// 17002f
$hover: #ff0059;
$success: #00d7fb;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/*
.animate__animated.animate__rubberBand {
  --animate-duration: 1s;
}
*/

* {
    font-family: "Galano Grotesque";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $body-bg;
}

.background-image {
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    background-image: url("/assets/images/bg-img1.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 5px 1px $white;
    position: relative;
    padding: 10vh 0 10vh 0;
    box-sizing: border-box;
    min-height: 80vh;

    & button.btn {
        margin-top: 2rem;
        color: white;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.2rem;
        transition-duration: 0.15s;
        box-shadow: 0 0 10px 2px grey;
    }

    & button.btn:hover,
    & button.btn:active {
        color: white;
    }
}

.background-image.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image img {
    margin: 0 0 0 5px;
    width: 30px;
    height: 30px;
}

.background-image h1 {
    text-shadow: 0 0 10px black;
    font-family: "Grand Slang";
    font-size: 3.5rem;
}

.background-image h2 {
    margin-top: 2rem;
    text-shadow: 0 0 3px black;
}

.background-image span {
    display: inline-block;
    vertical-align: middle;
    font-family: "Grand Slang";
    text-align: left !important;
}

.background-image button {
    width: fit-content;
    margin: auto;
}

header {
    //  position: sticky;
    outline: 2px solid #fff;
    background: $secondary;
    width: 100%;
    z-index: 2;
    top: 0;
}

@font-face {
    font-family: "Grand Slang";
    src: url("/assets/fonts/grandslang-roman.otf") format("opentype");
}

.dropdown-divider {
    background-color: $white;
    width: 100%;
}

.collasible-nav-dropdown > * {
    background-color: $secondary;
}

.dropdown-menu {
    outline: 2px solid white;
    left: auto;
    right: 0;
}

.dropdown-menu.show {
    margin-bottom: 0.5rem;
}

.dropdown-item:active,
.dropdown-item:focus {
    background: $white;
    color: $secondary;
}

.navbar {
    background-color: $secondary;
    color: white;

    & .nav-link,
    & .dropdown-item,
    & button {
        color: white;
        font-family: "Galano Grotesque Alt", sans-serif;
        font-family: "Galano Grotesque", sans-serif;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
    }
    button {
        border-width: 2px;
    }
    input {
        box-sizing: border-box;
        transition-duration: 0.2s;
    }
    input:focus,
    input:active {
        outline: none;
        box-shadow: 0 0 2px 2px white;
    }
}

.navbar-brand {
    font-size: 2rem;
    font-family: "Grand Slang";
    font-weight: bold;
    color: white;
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
    color: $hover;
}

// .next-events-banner {
//     background: $body-bg;
//     padding: 0;
//     margin: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .next-events-banner > .row {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
// }

// .next-events-banner > .row > * {
//     font-size: 3rem;
//     color: $hover;
//     font-family: "Grand Slang";
//     margin-top: 2rem;
// }

.next-events-text span {
    font-family: "Grand Slang";
    color: $hover;
}

.location-text {
    color: white;
    text-shadow: 0 0 2.8px white;
}

.why-anticipadapp {
    color: white;
}

.why-anticipadapp .why-anticipadapp-question {
    font-size: 2rem;
    display: block;
}

.why-anticipadapp .why-anticipadapp-response {
    display: block;
    margin-top: 1rem;
}
.app-benefits-item {
    outline: 1px dashed black;
    background: $hover;
    margin-top: 10px;
    border-radius: 15px;
}

.benefit-icon {
    width: 3.5rem;
    height: 3.5rem;
    background-size: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.app-benefits-item-title {
    font-size: 1.5rem;
    text-decoration: underline;
}

.app-benefits-item-text {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}

.error-404-text {
    color: white;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: $hover;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: $hover;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
}

.next-events-box {
    padding: 2rem;
    text-align: center;
}

.container-events h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-events hr {
    border: 1px solid white;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.swiper {
    width: 100%;
    font-size: 0;
    position: relative;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    height: 65vh !important;
    width: min(50vh, 70vw) !important;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 2rem;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 2rem;
}

.slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(250, 250, 250, 0.1));
}

.slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #ffffff;
}

.slider-controler .slider-arrow::after {
    content: "";
}

.swiper-pagination {
    bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.2));
    width: 10px;
    height: 10px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #fff;
}

.view {
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 5px #e6e6e6;
    cursor: default;
    width: 210px;
    height: 210px;
    margin: 10px;
    color: #fff;
}
.view figure {
    margin: 0;
}
.view figure a {
    color: #fff;
}
.view .mask {
    background-color: rgba(28, 28, 28, 0.7);
}
.view .mask,
.view .content {
    width: 100%;
    left: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
}
.view img {
    display: block;
    position: relative;
    width: 210px;
    height: 210px;
}
.view h2 {
    text-align: center;
    position: relative;
    padding: 10px;
    margin: 10px 0 0 0;
    background: $hover;
    font-size: 18px;
    font-weight: bold;
}
.view p {
    position: relative;
    text-align: center;
    font-weight: bold;
}
.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first:hover img {
    transform: scale(1.1, 1.1);
}
.view-first a.info {
    filter: alpha(opacity=0);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
    filter: alpha(opacity=100);
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    filter: alpha(opacity=100);
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

.accordion-button:active,
.accordion-button:focus {
    outline: none;
    box-shadow: none;
}

.accordion {
    border-radius: 1rem;
    overflow: hidden;
    //outline: 1px solid $hover;
    box-shadow: 0 0 5px 3px #f0f0f0;
}

.accordion-item {
    //background: white;
    // background: rgba(255, 255, 255, 0.6);
    background-color: #f0f0f0;
    //outline: 1px solid $hover;
}

.accordion-button:not([class*="collapsed"]) {
    border-bottom: 1px solid #0c63e4;
}

.accordion-button.accordion-button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #f0f0f0;
    
}

.accordion-button.collapsed {
    background-color: rgba(23, 0, 47, 0.9);
    color: white;
}

.accordion-body {
    font-weight: bold;
    font-size: 1.1rem;
}

.accordion-button::after {
    color: $hover;
    display: none;
}

.nav-link-active {
    color: $hover !important;
    cursor: default;
    opacity: 75%;
}
